version: '3'
services:
  smpp_server:
    image: komuw/smpp_server:v0.3
    ports:
    - 2775:2775
    - 8884:8884

  redis:
    image: 'redis:5.0-alpine'
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3.7.7-management-alpine
    ports:
      - 15672:15672
      - 5672:5672
